HPV_EncuestasSena/Service References/ServicioEncuestasSena/HPVServicioEncuestas4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HPV_Entidades.General" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HPV_Entidades.General" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:long" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>