HPV_EncuestasSena/Service References/ServicioEncuestasSena/HPVServicioEncuestas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3394/EncuestasSena/HPVServicioEncuestas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" />
  <xs:element name="ObtenerTiposDocumento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTiposDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" minOccurs="0" name="ObtenerTiposDocumentoResult" nillable="true" type="q1:OS_ConsultarTiposDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDatosBasicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" minOccurs="0" name="UsuarioSena" nillable="true" type="q2:OS_CrearDatosBasicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearDatosBasicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" minOccurs="0" name="CrearDatosBasicosResult" nillable="true" type="q3:OS_CrearDatosBasicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPreguntas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEncuesta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPreguntasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" minOccurs="0" name="ObtenerPreguntasResult" nillable="true" type="q4:OS_Consultar_Preguntas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarRespuestasEncuesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" minOccurs="0" name="respuestas" nillable="true" type="q5:OS_Guardar_Encuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarRespuestasEncuestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" minOccurs="0" name="GuardarRespuestasEncuestaResult" nillable="true" type="q6:OS_CrearDatosBasicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>