HPV_EncuestasSena/Service References/ServicioEncuestasSena/HPVServicioEncuestas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HPVServicioEncuestas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3394/EncuestasSena/HPVServicioEncuestas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3394/EncuestasSena/HPVServicioEncuestas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3394/EncuestasSena/HPVServicioEncuestas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HPV_Entidades.IncripcionEncuestasWS" />
      <xsd:import schemaLocation="http://localhost:3394/EncuestasSena/HPVServicioEncuestas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HPV_Entidades.EncuestasSena" />
      <xsd:import schemaLocation="http://localhost:3394/EncuestasSena/HPVServicioEncuestas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HPV_Entidades.General" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHPVServicioEncuestas_ObtenerTiposDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumento" />
  </wsdl:message>
  <wsdl:message name="IHPVServicioEncuestas_ObtenerTiposDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiposDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IHPVServicioEncuestas_CrearDatosBasicos_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearDatosBasicos" />
  </wsdl:message>
  <wsdl:message name="IHPVServicioEncuestas_CrearDatosBasicos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearDatosBasicosResponse" />
  </wsdl:message>
  <wsdl:message name="IHPVServicioEncuestas_ObtenerPreguntas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPreguntas" />
  </wsdl:message>
  <wsdl:message name="IHPVServicioEncuestas_ObtenerPreguntas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPreguntasResponse" />
  </wsdl:message>
  <wsdl:message name="IHPVServicioEncuestas_GuardarRespuestasEncuesta_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarRespuestasEncuesta" />
  </wsdl:message>
  <wsdl:message name="IHPVServicioEncuestas_GuardarRespuestasEncuesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarRespuestasEncuestaResponse" />
  </wsdl:message>
  <wsdl:portType name="IHPVServicioEncuestas">
    <wsdl:operation name="ObtenerTiposDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/ObtenerTiposDocumento" message="tns:IHPVServicioEncuestas_ObtenerTiposDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/ObtenerTiposDocumentoResponse" message="tns:IHPVServicioEncuestas_ObtenerTiposDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearDatosBasicos">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/CrearDatosBasicos" message="tns:IHPVServicioEncuestas_CrearDatosBasicos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/CrearDatosBasicosResponse" message="tns:IHPVServicioEncuestas_CrearDatosBasicos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPreguntas">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/ObtenerPreguntas" message="tns:IHPVServicioEncuestas_ObtenerPreguntas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/ObtenerPreguntasResponse" message="tns:IHPVServicioEncuestas_ObtenerPreguntas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarRespuestasEncuesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/GuardarRespuestasEncuesta" message="tns:IHPVServicioEncuestas_GuardarRespuestasEncuesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHPVServicioEncuestas/GuardarRespuestasEncuestaResponse" message="tns:IHPVServicioEncuestas_GuardarRespuestasEncuesta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHPVServicioEncuestas" type="tns:IHPVServicioEncuestas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerTiposDocumento">
      <soap:operation soapAction="http://tempuri.org/IHPVServicioEncuestas/ObtenerTiposDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearDatosBasicos">
      <soap:operation soapAction="http://tempuri.org/IHPVServicioEncuestas/CrearDatosBasicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPreguntas">
      <soap:operation soapAction="http://tempuri.org/IHPVServicioEncuestas/ObtenerPreguntas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarRespuestasEncuesta">
      <soap:operation soapAction="http://tempuri.org/IHPVServicioEncuestas/GuardarRespuestasEncuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HPVServicioEncuestas">
    <wsdl:port name="BasicHttpBinding_IHPVServicioEncuestas" binding="tns:BasicHttpBinding_IHPVServicioEncuestas">
      <soap:address location="http://localhost:3394/EncuestasSena/HPVServicioEncuestas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>